.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.output{
    outline: none;
    border: none;
    color: aliceblue;
    text-align: right;
    width: 320px;
    height: 70px;
    font-size: 32px;
    padding:2px 10px;
    background-color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
button{
    width: 85px;
    height: 90px;
    font-size: 26px;
    cursor: pointer;
    border: none;
    border-top: 1px solid #666;
    border-right: 1px solid #666;
    
}
.operator{
    background-color:orange;
    color: white;
    border-right: none;
}
.fun-key{
    background-color: lightblue;
}
.digit:hover{
background-color: antiquewhite;
}
.operator:hover{
    background-color: bisque;
}
.fun-key:hover{
    background-color: blanchedalmond;
}